{
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "css-modules"
  ],
  "env": {
    "browser": true,
    "mocha": true
  },
  "extends": [
    "standard",
    "plugin:import/errors",
    "plugin:react/recommended"
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    }
  },
  "rules": {
    "no-console": 0,
    "prefer-promise-reject-errors": 0,
    "react/react-in-jsx-scope": 0,
    "react/prop-types": 0,
    "react/no-unknown-property": 0,
    "react/no-unescaped-entities": 0,
    "css-modules/no-undef-class": 2
  },
  "globals": {
    "__BROWSER__": true,
    "__SERVER__": true,
    "__CONFIG__": true,
    "__ASSETS__": true
  }
}
