@import '../variables';

body {
  font-family: 'futura';
  margin: 0;
  padding: 0;
}

.content {
  height: 80vh;
  text-align: center;
  composes: flex_center;
}

.header {
  background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
  height: 10vh;
  composes: flex_center;
}

.footer {
  background: papayawhip;
  height: 10vh;
  composes: flex_center;
}
